/* Viewports */
$screen-small: 320px;
$screen-medium: 720px;
$screen-wide: 970px;

/* Colors */
$color-red: #FF0000;
$color-white: #FFFFFF;
$color-black: #000000;
$color-juri: #777777;
$color-juri-light: #CCCCCC;

/* Measures*/
$gutter: 16px;